{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

{% block content %}
<div class="homepitch" style="text-align: center;">
  
  <h3 style="color:black;text-align: center">Pitch</h3>
  <a href="{{url_for('main.new_pitch' )}}"> <button>Post a Pitch</button></a>

  {% for item in passionpitch %}
  <p>{{item.category}}</p>
  <p>{{item.description}}</p>
   <a href="{{url_for('main.upvote',pitch_id=item.id)}}"class ="btn">Upvotes</a>
   <span><button>{{item.upvotes.count()}}</button></span>
   <a href="{{url_for('main.downvote',pitch_id=item.id)}}"class ="btn">Downvotes</a>
   <span><button>{{item.downvotes.count()}}</button></span>
   <a href="{{url_for('main.new_comment',pitch_id = item.id)}}"><button>Comment</button></a>
   
</div>
 {%endfor%}
 <div class="interview" style="text-align: center;">
  {% for item in interviewpitch %}
  <p>{{item.category}}</p>
  <p>{{item.description}}</p>
   <a href="{{url_for('main.upvote',pitch_id=item.id)}}"class ="btn">Upvotes</a>
   <span><button>{{item.upvotes.count()}}</button></span>
   <a href="{{url_for('main.downvote',pitch_id=item.id)}}"class ="btn">Downvotes</a>
   <span><button>{{item.downvotes.count()}}</button></span>
   <a href="{{url_for('main.new_comment',pitch_id = item.id)}}"><button>Comment</button></a>
   
 </div>
 {%endfor%}
 <div class="news" style="text-align: center;">
   {% for item in newspitch%}
   <p>{{item.category}}</p>
   <p>{{item.description}}</p>
   
   <a href="{{url_for('main.upvote',pitch_id=item.id)}}"class ="btn">Upvotes</a>
   <span><button>{{item.upvotes.count()}}</button></span>
   <a href="{{url_for('main.downvote',pitch_id=item.id)}}"class ="btn">Downvotes</a>
   <span><button>{{item.downvotes.count()}}</button></span>
   <a href="{{url_for('main.new_comment',pitch_id = item.id)}}"><button>Comment</button></a>
   
 </div>
{%endfor%}
<div class="product" style="text-align: center;">
  
    {% for item in productpitch%}
    <p>{{item.category}}</p>
    <p>{{item.description}}</p>
    
    <a href="{{url_for('main.upvote',pitch_id=item.id)}}"class ="btn">Upvotes</a>
    <span><button>{{item.upvotes.count()}}</button></span>
    <a href="{{url_for('main.downvote',pitch_id=item.id)}}"class ="btn">Downvotes</a>
    <span><button>{{item.downvotes.count()}}</button></span>
    <a href="{{url_for('main.new_comment',pitch_id = item.id)}}"><button>Comment</button></a>
    
  </div>
  {%endfor%}
</div>
{% endblock %}